---
layout: page
title: Staff
description: Meet our team.
permalink: /staff/
paginate: true
---

		<div id="demo">
			<table class="table table-bordered table-striped">
					<tr>
						<th>Title</th>
						<th class="sorter-false filter-false">Region</th>
						<th class="filter-select filter-exact"
								data-placeholder="Filter by Version">Version</th>
						<th>CRC32</th>
						<th class="filter-select filter-exact"
								data-placeholder="Filter by Status">Status</th>
						<th class="sorter-false filter-false">Notes</th>
					</tr>
				<tbody>
					{% for game in site.data.licensed %}
					<tr>
						<td class="title">{{game.title}}</td>
						<td class="region"><span class="flag-icon flag-icon-jp"></span></td>
						<td class="version"> - </td>
						<td class="crc32">{{game.crc32}}</td>
						<td class="status">{{game.status}}</td>
						<td> - </td>
					</tr>
					{% endfor %}
					
					</tbody>
					</table>
					</div>
					
					
					<!-- <ul>
						{% for member in site.data.members %}
						<li>
							<a href="https://github.com/{{ member.github }}">
								{{ member.name }}
							</a>
						</li>
						{% endfor %}
					</ul> -->