@font-face {
    font-family: 'Deadpool-Movie';
    src:url('../fonts/Deadpool-Movie.ttf.woff') format('woff'),
        url('../fonts/Deadpool-Movie.ttf.svg#Deadpool-Movie') format('svg'),
        url('../fonts/Deadpool-Movie.ttf.eot'),
        url('../fonts/Deadpool-Movie.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

html{
    background-color: #600e14;
}
body{
    background-color: #600e14;
    background: rgba(0,0,0,0) url(../img/bgv2.jpg) no-repeat center center fixed;
    background-size: cover;
}
body > .container {
    padding-top: 70px;
}

h3{
    background: url(../img/btn-texture.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: bottom;
    font-size: 36px;
    font-family: 'Deadpool-Movie';
}
.navbar-brand{
    background: url(../img/btn-texture.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: bottom;
    font-size: 30px;
    font-family: 'Deadpool-Movie';
}
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #600e14;
}

.mod.list-group-item
{
    float: none;
    width: 100%;
    background-color: unset;
    margin-bottom: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    border: 0;
}

.mod.list-group-item .img-event {
    float: left;
    width: 30%;
}

.mod.list-group-item .list-group-image
{
    margin-right: 10px;
}
.mod.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.mod.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.mod.list-group-item:before, .mod.list-group-item:after
{
    display: table;
    content: " ";
}

.mod.list-group-item:after
{
    clear: both;
}

#releases{
    background: rgba(0,0,0,0.6);
    background-size: cover;
    padding: 15px;
}

.btn-darkred {
    color: #fff;
    background-color: #600e14;
    border-color: #600e14;
}
.btn-darkred:hover {
    color: #fff;
    background-color: #410a0d;
    border-color: #410a0d;
}
.bg-dark {
    background-color: #222327!important;
}

.notify-badge{
    position: absolute;
    left:-20px;
    top:10px;
    background:#830b15;
    text-align: center;
    border-radius: 30px;
    color:white;
    padding:5px 10px 0px 10px;
    font-size:30px;
    font-family: 'Deadpool-Movie';
}